.flex-journey
{
    display: flex;
    justify-content: space-around;
    align-content: end;
    border: 0cap solid;
    width: 35%;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.Welcome,.Best,.Beautiful,.offering
{
    font-size: 16px;
}
.latte,.coffee_shop,.percentage
{
    width: 144px;
    height: 90px;

}
.Welcome
{
    margin-top: 100px;
}
