.ECoffee
{
    font-size: unset;
    margin-top: 10px;
}
.flex
{
    display: flex;
    justify-content: space-around;
    align-content: end;
    list-style: none;
    align-items: center;
    
}
.flex-item12
{
    display: flex;
    justify-content: space-around;
    align-content: end;
}
.flex-item3456
{
    display: flex;
    justify-content: space-around;
    align-content: end;
    text-decoration: none;
}
.flex-item4,.flex-item5,.flex-item6,.flex-item3
{
    margin-left: 20px;
    margin-right: 20px;
}

