.Also
{
    align-items: center;
    margin-top: 100px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1000;
}
.products
{
    display: flex;
    justify-content: space-around;
    border: 0cap solid;
    width: 35%;
    height: 320px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 700px;
    margin-bottom: 100px; */
    
}
.cup_,.shake,.coffee_been,.Hot_chocolate
{
    width: 100px;
    height: 100px;
    
}
.product1,.product2,.product3,.product4
{
    box-shadow: 0 4px 8px 0 #e3d5c6, 0 6px 20px 0 #fefefe;
    border-spacing: 0ch;
    border-radius: 20px;
    border: 0cap solid;
    width: 200px;
    height: 250px;
    text-align:center;
    padding-top: 50px;
    margin-top: 90px;
    position: relative;
}
.Best
{
    padding-top: 20px;
    font-weight: 700;
}
.text
{
    font-size: 14px;
}
.circle1,.circle2,.circle3,.circle4
{
    
    /* float: left;
      width: 450px;
      height: 250px;
      margin: 20px;
      shape-outside: ellipse(20% 50%);
      clip-path: ellipse(20% 50%);
      background: #CF9A72;
      margin-bottom: 50px; */
}
/* .all_center
{
    position: fixed;
    margin: 5% auto;
} */